body {
    background-color: #FFF;
}

.sidebar .nav .nav-item .nav-link.active,
.sidebar .nav .nav-item .navbar .active.dropdown-toggle,
.navbar .sidebar .nav .nav-item .active.dropdown-toggle {
    color: black;
}

.sidebar .nav .nav-item .nav-link {
    color: black;
}

.sidebar .nav .nav-item.nav-dropdown.open .nav-link {
    color: black;
}

.sidebar .nav .nav-item .nav-link.active {
    background-color: rgba(67, 142, 185, .7);
}

.sidebar .nav .nav-item.nav-dropdown.open {
    background-color: transparent;
}